<!DOCTYPE html>
<html lang="{{ .Site.LanguageCode }}">
<head>
    {{ partial "head.html" . }}
    {{ partial "site-schema.html" . }}
</head>
<body>
  <noscript><iframe src="https://www.googletagmanager.com/ns.html?id={{ .Site.Params.gtm }}" height="0" width="0" style="display:none;visibility:hidden"></iframe></noscript>
  <div id="all">
      <div class="container-fluid">
          <div class="row row-offcanvas row-offcanvas-left">
              {{ partial "sidebar.html" . }}
              {{ block "main" . }}
              {{ end }}
          </div>
      </div>
  </div>
  {{ partial "scripts.html" . }}
</body>
</html>
